


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-studio {
    color: #2e2f42;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    display: block;
    box-sizing: border-box;
    margin: 0;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.logo:hover,
.logo:focus {
    color: #4d5ae5;
}

.logo-studio:hover,
.logo-studio:focus {
    color: #2e2f42;
}

footer .logo-studio:hover,
footer .logo-studio:focus {
    color: #f4f4fd;
}

.list-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-navigation:first-child {
    position: relative;
}

.list-navigation.active::after {
    content: '';
    display: block;
    width: 100%;
    left: 0px;
    height: 4px;
    bottom: -27px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
}

@media (min-width: 1158px) {
    .list-navigation.active::after {
        bottom: -27px;
    }
}

.list {
    list-style: none;
}

.address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-icon {
    stroke: #2e2f42;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.js-close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    min-width: 24px;
    min-height: 24px;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 0 80px 40px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    justify-content: space-between;
    overflow: scroll;
}

@media (min-width: 768px) {
    .menu-container {
        display: none;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 0 0 40px 0;
    text-decoration: none;
}

.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2e2f42;
}

.mobile-menu-contact-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-menu-contact {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #4d5ae5;
}

.mobile-menu-icons {
    display: flex;
    gap: 56px;
}

@media (max-width: 427px) {
    .mobile-menu-contact {
        font-size: 24px;
    }

    .mobile-menu-icons {
        gap: 32px;
    }
}

.mobile-menu-mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #434455;
}

.hero-flex {
    padding: 112px 0;
    margin: 0 auto;
}

.hero {
    padding: 112px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/bgmobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

@media (min-width: 1px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bgmobile@2x.jpg);
    }
}

@media (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bgtablet@1x.jpg);
    }
}

@media (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bgtablet@2x.jpg);
    }
}

@media (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bgdesktop@1x.jpg);
        padding: 188px 0;
    }
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bgdesktop@2x.jpg);
        padding: 188px 0;
    }
}

.solutions-flex {
    display: flex;
    max-width: 320px;
    margin: 0 auto;
}

.solutions {
    color: var(--white, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .solutions-flex {
        display: flex;
        max-width: 496px;
        margin: 0 auto;
    }

    .solutions {
        color: var(--white, #fff);
        text-align: center;
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 107.143% */
        letter-spacing: 1.12px;
    }
}

.hero-button {
    background: #4d5ae5;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.advantages-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.deeds-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team {
    background-color: #f4f4fd;
}

.team-members {
    background-color: #ffffff;
}

.team-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-person-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-person-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 8px;
}

footer {
    background-color: #2e2f42;
}

footer .logo-studio {
    color: #f4f4fd;
    text-decoration: none;
}

.p-footer {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

.buttons-filter {
    background: #f4f4fd;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-filter:hover,
.buttons-filter:focus {
    background-color: #404bbf;
    color: #ffffff;
}

.portfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Formalization */

*,
::after,
::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
}

/* Formalization header*/

.header {
    border-bottom: 1px solid #e7e9fc;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    height: 72px;
    justify-content: center;
    display: flex;
}

/* Mobile */

.container {
    margin: 0 auto;
    padding: 0 16px;
    min-width: 320px;
    max-width: 428px;
}

/* Tablet */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Pc */

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 428px;
}

@media (min-width: 768px) {
    .header-container {
        width: 768px;
    }
}

@media (min-width: 1158px) {
    .header-container {
        width: 1158px;
    }
}

.nav-flex {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.address-flex {
    display: flex;
    gap: 40px;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .logo-header {
        margin-right: 0;
    }

    .address-flex {
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 0;
        justify-content: center;
        flex-direction: column;
    }

    .address {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
    }
}

.menu-flex {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .menu-flex {
        display: none;
    }

    .address-flex {
        display: none;
    }
}

/* Formalization section 1*/

.hero-button-flex {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin: 48px auto 0;
}

/* Formalization Advantages*/

.advantages-container-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.advantages-h {
    margin-bottom: 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.advantages-p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.advantages-flex {
    padding: 96px 0;
    display: flex;
}

@media (min-width: 1158px) {
    .advantages-flex {
        padding: 120px 0;
        display: flex;
    }
}

.advantages-icon {
    display: none;
}

@media screen and (min-width: 768px) {
    .advantages-container-list {
        display: flex;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
    }

    .advantages-container-list-item {
        width: 356px;
    }

    .advantages-h {
        margin-bottom: 8px;
        text-align: left;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .advantages-p {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .advantages-flex {
        padding: 120px 0;
        display: flex;
    }

    .advantages-icon {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
    .advantages-container-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .advantages-container-list-item {
        width: 264px;
    }

    .advantages-h {
        margin-bottom: 8px;
        text-align: left;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }

    .advantages-p {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .advantages-flex {
        padding: 120px 0;
        display: flex;
    }

    .advantages-icon {
        display: flex;
    }
}

/* Formalization section 3*/

.deeds-flex {
    display: none;
}

@media screen and (min-width: 768px) {
    .deeds-flex {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .deeds-flex {
        padding-bottom: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
    }

    .deeds-h {
        text-align: center;
        margin-bottom: 72px;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        justify-content: center;
    }

    .deeds-list {
        display: flex;
        gap: 24px;
    }

    .deeds-container {
        padding: 0 15px;
    }

    .deeds-item {
        display: flex;
        width: 360px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Formalization section 4*/

.team-flex {
    padding: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-h {
    margin-bottom: 72px;
    text-align: center;
}

.team-list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
}

.members-flex {
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .team-flex {
        padding: 96px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-h {
        margin-bottom: 72px;
        text-align: center;
    }

    .team-list-flex {
        display: flex;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
    }

    .members-flex {
        width: 264px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        display: flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1158px) {
    .team-flex {
        padding: 120px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-h {
        margin-bottom: 72px;
        text-align: center;
    }

    .team-list-flex {
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
        padding-left: 0;
        justify-content: start;
    }

    .members-flex {
        width: 264px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        display: flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.name_job {
    padding: 32px 0;
}

.team-person-h {
    margin-bottom: 8px;
    text-align: center;
}

.team-person-p {
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.social-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover {
    background-color: #404bbf;
}

.social-item-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

/* Customers */

.customers-section {
    padding: 96px 0;
}

@media (min-width: 1158px) {
    .customers-section {
        padding: 120px 0;
    }
}

.customers-h {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
    justify-content: center;
    display: flex;
}

.clients-list {
    display: flex;
    row-gap: 72px;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.clients-list-item {
    width: 190px;
    height: 88px;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .customers-section {
        padding: 120px 0;
    }

    .customers-h {
        font-size: 36px;
        line-height: 1.11;
        color: #2e2f42;
        margin-bottom: 72px;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    .clients-list {
        display: flex;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .clients-list-item {
        width: 168px;
        height: 88px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .customers-section {
        padding: 120px 0;
    }

    .customers-h {
        font-size: 36px;
        line-height: 1.11;
        color:#2e2f42;
        margin-bottom: 72px;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    .clients-list {
        display: flex;
        column-gap: 24px;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .clients-list-item {
        width: 168px;
        height: 88px;
        flex-wrap: nowrap;
    }
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
    border-color: #404bbf;
    color: #404bbf;
    cursor: pointer;
}

.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customers-icon {
    fill: currentColor;
    flex-shrink: 0;
}

.customers-icon:hover,
.customers-icon:focus {
    fill: #404bbf;
}

.social-media-link:hover {
    background-color: #31d0aa;
    cursor: pointer;
}

.social-media-link:focus {
    background-color: #31d0aa;
}

.social-media-icon {
    fill: #f4f4fd;
}

/* Formalization footer*/

.footer-flex {
    padding: 97.5px 0 104px 0;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1158px) {
    .footer-flex {
        padding: 100px 0 100px 0;
        display: flex;
        flex-wrap: wrap;
    }
}

.footer-subscribe {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}

.p-footer {
    justify-content: center;
    display: flex;
    padding-bottom: 72px;
    max-width: 268px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-media-p {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-media-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

@media (min-width: 768px) {
    .social-media-list {
        margin-bottom: 0;
    }
}

.social-media-list-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0 auto 16px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
}

.footer-email {
    width: 398px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
}

@media screen and (min-width: 320px) and (max-width: 427px) {
    .footer-email {
        width: 288px;
    }
}

.footer-email::placeholder {
    color: #ffffff;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.telegram-icon {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;
        width: 264px;
        height: 20px;
    }

    .p-footer {
        max-width: 264px;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
        padding-bottom: 0;
    }

    .footer-form {
        display: flex;
        gap: 24px;
        justify-content: left;
    }

    .telegram-icon {
        margin-left: 16px;
    }

    .social-media {
        display: block;
    }

    .footer-container {
        flex-wrap: wrap;
        justify-content: left;
        gap: 72px 24px;
        width: 584px;
    }

    .social-media-p {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
        text-align: left;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-subscribe {
        display: block;
    }

    .subscribe {
        display: block;
    }

    .footer-email {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff;
    }
}

@media screen and (min-width: 1158px) {
    .footer-flex {
        padding: 100px 0;
    }

    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;
    }

    .p-footer {
        max-width: 264px;
    }

    .footer-form {
        display: flex;
        gap: 24px;
        padding-left: 0;
    }

    .footer-email {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff;
    }

    .footer-email::placeholder {
        color: #ffffff;
    }

    .footer-button {
        min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
    }

    .telegram-icon {
        margin-left: 16px;
    }

    .footer-container {
        flex-wrap: nowrap;
        max-width: 1158px;
        margin: 0;
        width: 1158px;
        margin: 0 auto;
        gap: 0;
    }

    .footer-site-info {
        padding-right: 0;
        margin-right: 120px;
    }

    .social-media-list {
        padding-right: 0;
        margin-right: 80px;
    }
}

/* Formalization Portfolio main*/

.portfolio-section {
    padding: 96px 0 120px 0;
}

.portfolio-filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.buttons-filter {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.buttons-filter:hover,
.buttons-filter:focus {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-items {
    width: calc((100% - 48px) / 3);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .picture-p {
    transform: translateY(0%);
}

.portfolio-link:focus .picture-p {
    transform: translateY(0%);
}

.portfolio-picture {
    position: relative;
    overflow: hidden;
}

.picture-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name_category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.name_category .portfolio-h {
    margin-bottom: 8px;
}

.backdrop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Forms */

.modal {
    padding: 72px 24px 24px 24px;
}

.modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-name {
    margin-bottom: 8px;
}

.label-form {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-con {
    position: relative;
}

.input-style {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-style:focus {
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-style:focus+.form-icon {
    fill: #4d5ae5;
}

.comment {
    margin-bottom: 16px;
}

.textarea-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
    border-color: #4d5ae5;
}

.form-terms {
    margin-bottom: 24px;
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-prop {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox:checked+.checkbox-text .checkbox-prop {
    background-color: #404bbf;
    border: none;
    fill:#f4f4fd;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 100px;
}

.trueactive {
    color: #404bbf;
}

@media (min-width: 320px) and (max-width: 427px) {
    .modal {
        width: 300px;
        padding: 56px 24px 24px 24px;
    }

    .form-button {
        margin: 0 40px;
    }
}

@media (min-height: 320px) and (max-height: 590px) {
    .modal {
        top: 18%;
        transform: translate(-50%, 0%) scale(1);
    }
}
