
:root {
    --main-color: #FFFFFF;
}
/**
  |============================
  | Common styles
  |============================
*/
.page {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--main-color);
    letter-spacing: 0.02em;
    
}
/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Base styles */
.container {
    width: 1158px;
    top: 72px;
}


/**
  |============================
  | Header styles
  |============================
*/
.hd-link{
    color: #404bbf;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header {
        
        border-bottom: 1px solid #e7e9fc;
        background-color: white;
        box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }

.container {
    
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-conteiner{
    display: flex;
}
.header-nav {

        display: flex;
            align-items: center;

}

.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 24px 0;
    margin-right: 76px;

    
}

.studio {
color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
padding: 24px 0;

}



.header-list {
    display: flex;
    gap: 40px;
}

.address {
    font-style: normal;
    
    margin-left: auto;
}


.header-link {
    color: var(--navyblue, #2E2F42);
    padding: 24px 0;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        display: block;
            padding-top: 24px;
            padding-bottom: 24px;
        
            color: #404bbf;
            transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-link:active,
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}
.active-link {
    color: #404BBF;
}
.active-link::after {
    content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
}
.nav-link {
    position: relative;
}
.header-networks {
    display: flex;
    gap: 40px;
}



.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
}


.active-link {
    color: #404BBF;
}

.active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.header-networks-item {
    color: #434455;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-decoration: none;
        margin-right: 10px;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-networks-link {
    color: #434455;
       
        font-size: 16px;
        
        line-height: 24px;
        letter-spacing: 0.02em;
        
    
        flex-direction: row;
        padding: 24px 0;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
                        
.header-networks-link:hover {
    color: #404BBF;
}
.header-networks-link:focus {
    color: #4D5AE5;
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
                background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 188px 0;

    
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-controls {
    text-align: center;
}

.btn {
    font-family: Roboto, sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    margin: 0 auto;
    font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.accent-btn {
    background-color: #4d5ae5;
}

.btn:hover,
.btn:focus {
    opacity: 0.8;
}

.hero-title {
    color: #ffffff;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
        letter-spacing: 1.12px;
}

/**
  |============================
  | Advantages styles
  |============================
*/

.advantages {
    padding: 120px 0;
}
.advantages-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

.advantages-list {
    display: flex;
        gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-item-title {
    color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.advantages-text {
    color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}

/**
  |============================
  | Doing styles
  |============================
*/

.doing {
    padding-bottom: 120px;
}

.doing-title {
    color: #2E2F42;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        
}

.title {margin-bottom: 72px;}

.doing-list {
    display: flex;
        gap: 24px;
}

.doing-item {
    width: calc((100% - 48px) / 3);
}

.doing-img {}
/**
  |============================
  | Team styles
  |============================
*/


.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
        gap: 24px;

}

.team-item {
    background-color: #FFFFFF;
        list-style: none;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-text {
    text-align: center;
    margin-top: 0;
    padding: 32px 0;
}

.team-member-img {
    
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
        text-align: center;
            margin-bottom: 8px;
}

.team-text {
    
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
}
.team-item-icon{
    fill: #F4F4FD;
}

.social-networks-item{
    width: 40px;
        height: 40px;
        gap: 24px;
}
.social-networks-list {
    display: flex;
        justify-content: center;
        gap: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
        width: 100%;
        height: 100%;
    
    
}
.social-networks-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.social-networks-link:active,
.social-networks-link:hover,
.social-networks-link:focus {
    background-color: #404BBF;
}


/* Footer */



.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-info {
    margin-right: 120px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-logo {
    fill: #f4f4fd;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-logo {
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
}

.footer-span {
    color: #F4F4FD;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}


.ftr-form-sect {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 80px;
    width: 453px;
}

.ftr-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.ftr-form {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 24px;
}

.ftr-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftr-input {
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.ftr-input::placeholder {
    color: #FFFFFF;
}

.ftr-form-btn {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-form-btn:hover,
.ftr-form-btn:focus {
    background-color: #404BBF;
}

.ftr-modal-icon {
    margin-left: 16px;
}
/**
  |============================
  |Portfolio styles
  |============================
*/
.link-pt:hover .overlay-decription,
.link-pt:focus .overlay-decription{
    display: block;
    transform: translateY(0%);
}
.link-pt {
    display: block;
    transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.main-portfolio {
    
}

.container {
   
}

.section-main {
    padding: 96px 0 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.services-list {
display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    
}

.li-btn .portfolio-btn:hover,
.li-btn .portfolio-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.services-item {
    
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.services-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
    
}
.services-item .link:hover,
.services-item .link:focus {
    transform: translateY(0%);
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.services-item-title {
    color:#2E2F42;
    margin-bottom: 8px;
    font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}
.services-text{
    color: var(--slate, #434455);
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.portfolio-btn {
    padding: 12px 24px;
        border: 1px solid #e7e9fc;
        border-radius: 4px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background-color: #F4F4FD;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}
.portfolio-btn:focus{
    border: 1px solid transparent;
}
.portfolio-btn:hover{
    background: #404BBF;
        color: #FFF;
        text-align: center;
        border: 1px solid transparent;
}
.portfolio-btn:focus {
    background: #404BBF;
        color: #FFF;
        text-align: center;
}
.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.services-list-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
    
}
.overlay {


    padding: 40px 32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(100%);
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        letter-spacing: 0.02em;
        line-height: 1.5;
        font-size: 16px;
        top: 0;
        position: absolute;
}

.services-item:hover .overlay {
    transform: translateY(0);
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.overlay-decription {
    color:#F4F4FD ;
  
    
}
/**
  |============================
  |Customers
  |============================
*/


.clients-section{
padding-top: 120px;
    padding-bottom: 120px;
}
.clients-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.clients-text{
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;

}
.clients-item {
    width: calc((100% - 120px) / 6);
    height:88px;

}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8f99;
    width: 168px;
    height: 88px;
width: 100%;
height: 100%;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        flex-shrink: 0;
        transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.clients-icon {
    fill: currentColor;
}
.clients-link:hover{
    color: #404bbf;
    border-color: #404bbf;
}
.clients-link:focus{
    border-color: #404bbf;
    color: #404bbf;
    
}
.clients-link:hover .clients-icon {
    color: #404bbf;;
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.is-hidden {
opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    
}

.modal {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
        
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
}

.modal-btn {
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: flex;
        
        align-items: center;
        justify-content: center;
        margin-left: auto;
        cursor: pointer;
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}
.modal-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:hover,
.modal-icon:focus {
    fill: #ffffff;
}


.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
}


.form-unit {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 8px;
    
}

.form-field {
    display: block;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
}

.box-form-input{
    position: relative;
}

.form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 38px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.form-input:focus {
    border-color: rgba(77, 90, 229, 1);
}

.form-icon {
    position: absolute;
    left: 16px;
    bottom: 8px;
    fill: rgba(46, 47, 66, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    transform: translateY(-50%);
}

.form-input:focus+.form-icon {
    fill: #4D5AE5;
}

.comm-form {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    background-color: transparent;

    margin-bottom: 16px;
}

.comm-form-input {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comm-form-input:focus {
    border-color: rgba(77, 90, 229, 1);
}

.comm-form-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.agreement-sect {
    display: flex;
    width: 360px;
    margin-bottom: 24px;
}

.custom-check-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box:checked+.policy .custom-check-box {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    ;
    user-select: none;
}

.policy-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    text-decoration: underline;
}


.form-button {
    display: block;
    justify-content: center;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}

/* Mobile menu */


.menu-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: #FFF;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
    transform: translateX(0);
}


.menu-container .menu-btn-x {
    position: absolute;
    top: 24px;
    right: 24px;
    color: rgba(46, 47, 66, 1);
}

.menu-btn-x {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-x:hover,
.menu-btn-x:focus {
    background-color: #404bbf;
    border: none;
}

.mmenu-btn-x:hover .menu-btn-close-icon {
    fill: #ffffff;
}

.menu-btn-x:focus .menu-btn-close-icon {
    fill: #ffffff;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #404bbf;
}

.company-conts-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.active {
    color: #404BBF;
}

.tel {
    color: #434455;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
}

@media only screen and (min-width: 428px) {
    .tel {
        font-size: 36px;
    }
}

.mail {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.tel:hover,
.tel:focus {
    color: #404bbf;
}

.mail:hover,
.mail:focus {
    color: #404bbf;
}

.mob-menu-box {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 20%;
}

@media only screen and (min-width: 428px) {
    .mob-menu-soc-box {
        gap: 56px;
    }
}